
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('header'); -%>
  <title>Adding Componant</title>
  
  <link rel="stylesheet" href="user.css">
  
</head>
<body>
    
      
  <div class="card">
        
    <div class="banner"></div>
    <ul>
      <h2>Ajouter Nouveau Utilisateur</h2>


    </ul>
    <button class="contact" id="main-button">click to get in touch</button>
   
   
      
                <form action="/Add_User" method="POST"  class="email-form">
                 
                  
                  <input type="text" class="form-control" name="nom" placeholder="Nom">
                
                  <input type="text" class="form-control" name="prenom" placeholder="prenom">
                
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email">
                 
                  <select id="inputState" class="form-control" name='typeid'>
                    <option selected>Choose...</option>
                    <% for (var i=0;i< tuser.length;i++){%>
                        <% if(tuser[i].typeu!=="") {%>
                    <option><%= tuser[i].typeu%></option>
                    <%}%>
                           
                            <% }%> 
                  </select>
                  
                    
                  <button type="submit" class="contact" style="margin-top: 0%;">Submit</button>
                </form>
  
           <div class="col-sm">
                <section id="ajout">
                
              
   
 
            </form>
        </div>
      
          </div>
       
      </div>
  
       


</body>
<script src="user.js"></script>
</html>