<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <%- include('header'); -%>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
  body {
    position: relative;
  }
  ul.nav-pills {
    margin-top: 50px;
    position: fixed;
  }
  div.col-8 div {
    height: 500px;
  }
  div.ex1 {

  width: 800px;
  overflow-x: hidden;
}
  </style>
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="1">

<div class="container-fluid" style="margin-left: 20px;">
  <div class="row">
   
     
    <div class="col-sm ">
      <div id="section1" class="bg" style="height: 200px;">    
        <h1>Admins</h1>
        <div class="ex1">
         
            <div class="row">
              <% for (var i=0;i< user.length;i++){%>
                
              <div class="col-md-4" style="padding-right:0;padding-left:0;" >
                <% if (user[i].type_user.typeu=="Admin"){%>
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text"><%=user[i].firstName%>.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <%}%>
              <%}%>
            </div>
          
         
         
         
        
       
      </div>
      <div id="section2" class="bg"> 
        <h1>Enseignats</h1>
        <div class="ex1">
         
          <div class="row">
            <% for (var i=0;i< user.length;i++){%>
             
             
            <div class="col-md-4" style="padding-right:0;padding-left:0;" >
              <% if (user[i].type_user.typeu=="Enseignant"){%>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text"><%=user[i].firstName%>.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <%}%>
            <%}%>
          </div>
        
       
       
       
      
     
    </div>
        
      </div>        
      <div id="section3" class="bg">         
        <h1>Consultateur</h1>  <div class="ex1">
         
          <div class="row">
            <% for (var i=0;i< user.length;i++){%>
              
            <div class="col-md-4" style="padding-right:0;padding-left:0;" >
              <% if (user[i].type_user.typeu=="Consultateur"){%>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text"><%=user[i].firstName%>.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <%}%>
            <%}%>
          </div>
        
       
       
       
      
     
    </div>
      </div>
           
      
    </div>
  </div>
</div>
</div>

</body>
</html>

  
