
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('header'); -%>
</head>
<body>
<div class="card">
 
  <div class="card-body">
    <h5 class="card-title" style="margin-left: 50%;">Special title treatment</h5>
   
    <a href="Add_User" class="btn btn-primary" style="margin-left: 50%;" >ADD TEACHER</a>
  </div>
</div>
<h3 style="margin-left: 50%;">TEACHERS LIST</h3>
<% for (var i=0;i< use.length;i++){%>
  <% if(use[i].firstName!=="") {%>
<div class="card" style="width:400px">
    <div class="card-body">
      <h4 class="card-title">Teacher</h4>
      <p class="card-text"><%=use[i].firstName%></p>
      <a href="#" class="btn btn-primary">Voir Details</a>
    </div>
   
  </div>
  <%}%>
              <%}%> 
</div>


</body>
</html>
  