<!DOCTYPE html>
<html lang="en">
<head>
  <title> Inventory</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="user.css">
</head>
<body>

<nav class="navbar navbar-expand-sm sticky-top" style="background-color:#628B8B;">
  <!-- Brand -->
  <a class="navbar-brand" href="#"> <img src="images/logo.png" width="80px" height="80px" ></a>

  <!-- Links -->
  <ul class="navbar-nav">
    
    <li class="nav-item">
      <a class="nav-link" href="/user" style="color: white;"><b>Home</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/liste_demandec" style="color: white;"><b>Demande</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/etDettec" style="color: white;"><b>Material Non Retourner</b></a>
    </li>
    
  

    <!-- Dropdown -->
    
    <li class="nav-item">
      <a class="nav-link" href="/logout" style="color:white">  <b>Logout</b></a>
    </li>
  </ul>
</nav>
<br>
  




<div class="container">
  <div class="row">
     
  </div>
  <!--/row-->
</div>
</body>
</html>
